[Unit]
Description=schttp - runs scp.click
After=network.target

[Service]
ExecStart=/root/schttp
WorkingDirectory=/root

Environment="ADVERTISE_URL"=http://scp.click/
Environment="HTTP_LISTEN"=0.0.0.0:80
Environment="SSH_LISTEN"=0.0.0.0:22

[Install]
WantedBy=multi-user.target